.single-station-card {
  display: flex;
  justify-content: space-between;
  & > div {
    padding: 16px;
    &:first-of-type {
      display: grid;
      grid-template-columns: repeat(2, auto);
      width: 100%;
    }
    &:last-of-type {
      padding-inline: 40px;
    }
  }
  .review {
    justify-self: end;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    & > div:first-of-type {
      display: block;
    }
  }
}

.heart-button {
  border: none;
  background: none;
  cursor: pointer;
  img {
    width: 24px;
  }
}
